// @use './reset.scss'; // We should not reset here as it sets too high of a specificity on the reset declarations
@use './_colors.scss';
@use './_fonts.scss';
@use './_space.scss';

:root {
  --key-background: hsl(240, 6%, 97%);
  --key-background-hovered: hsl(210, 8%, 95%);
  --key-background-pressed: hsl(210, 6%, 93%);
  --key-background-selected: hsl(210, 6%, 93%);
  --key-surface: hsl(0, 0%, 100%);
  --key-surface-neutral: hsl(220, 6%, 90%);
  --key-surface-neutral-hovered: hsl(210, 6%, 87%);
  --key-surface-neutral-pressed: hsl(214, 7%, 80%);
  --key-surface-neutral-disabled: hsl(210, 8%, 95%);
  --key-surface-neutral-subdued: hsl(240, 6%, 97%);
  --key-surface-subdued: hsl(180, 11%, 98%);
  --key-surface-disabled: hsl(180, 11%, 98%);
  --key-surface-hovered: hsl(240, 6%, 97%);
  --key-surface-pressed: hsl(210, 8%, 95%);
  --key-surface-depressed: hsl(210, 6%, 93%);
  --key-surface-search-field: hsl(210, 8%, 95%);
  --key-backdrop: hsla(0, 0%, 0%, 0.5);
  --key-overlay: hsla(0, 0%, 100%, 0.5);
  --key-shadow-from-dim-light: hsla(0, 0%, 0%, 0.2);
  --key-shadow-from-ambient-light: hsla(180, 2%, 9%, 0.05);
  --key-shadow-from-direct-light: hsla(0, 0%, 0%, 0.15);
  --key-hint-from-direct-light: hsla(0, 0%, 0%, 0.15);
  --key-divider: hsl(210, 7%, 89%);
  --key-icon: hsl(210, 3%, 37%);
  --key-icon-hovered: hsl(200, 5%, 11%);
  --key-icon-pressed: hsl(210, 4%, 28%);
  --key-icon-disabled: hsl(213, 7%, 75%);
  --key-icon-subdued: hsl(210, 5%, 57%);
  --key-text: hsl(200, 4%, 13%);
  --key-text-disabled: hsl(210, 5%, 57%);
  --key-text-subdued: hsl(210, 4%, 44%);
  --key-interactive: hsl(215, 64%, 48%);
  --key-interactive-disabled: hsl(224, 13%, 77%);
  --key-interactive-hovered: hsl(215, 66%, 36%);
  --key-interactive-pressed: hsl(215, 72%, 22%);
  --key-icon-interactive: hsl(215, 64%, 48%);
  --key-focused: hsl(216, 100%, 64%);
  --key-surface-selected: hsl(215, 86%, 97%);
  --key-surface-selected-hovered: hsl(215, 89%, 96%);
  --key-surface-selected-pressed: hsl(215, 86%, 95%);
  --key-icon-on-interactive: hsl(0, 0%, 100%);
  --key-text-on-interactive: hsl(0, 0%, 100%);
  --key-text-on-plain: var(--key-text, black);
  --key-action-plain: hsl(0, 0%, 100%);
  --key-action-plain-disabled: hsl(0, 0%, 100%);
  --key-action-plain-hovered: hsl(240, 6%, 97%);
  --key-action-plain-pressed: hsl(210, 8%, 95%);
  --key-action-plain-depressed: hsl(210, 4%, 44%);
  --key-text-on-secondary: hsl(0, 0%, 100%);
  --key-action-secondary: hsl(22, 82%, 50%);
  --key-action-secondary-disabled: hsl(22, 33%, 44%);
  --key-action-secondary-hovered: hsl(22, 97%, 54%);
  --key-action-secondary-pressed: hsl(22, 70%, 40%);
  --key-action-secondary-depressed: hsl(22, 69%, 28%);
  --key-text-on-tertiary: hsl(0, 0%, 100%);
  --key-action-tertiary: hsl(202, 81%, 21%);
  --key-action-tertiary-disabled: hsl(202, 30%, 49%);
  --key-action-tertiary-hovered: hsl(202, 79%, 19%);
  --key-action-tertiary-pressed: hsl(202, 80%, 10%);
  --key-action-tertiary-depressed: hsl(202, 81%, 11%);
  --key-action-primary: hsl(180, 100%, 27%);
  --key-action-primary-disabled: hsl(0, 0%, 95%);
  --key-action-primary-hovered: hsl(180, 100%, 22%);
  --key-action-primary-pressed: hsl(180, 100%, 18%);
  --key-action-primary-depressed: hsl(180, 100%, 12%);
  --key-icon-on-primary: hsl(0, 0%, 100%);
  --key-text-on-primary: hsl(0, 0%, 100%);
  --key-text-primary: hsl(180, 100%, 27%);
  --key-text-primary-hovered: hsl(164, 100%, 21%);
  --key-text-primary-pressed: hsl(164, 100%, 18%);
  --key-surface-primary-selected: hsl(154, 33%, 96%);
  --key-surface-primary-selected-hovered: hsl(153, 24%, 76%);
  --key-surface-primary-selected-pressed: hsl(152, 16%, 69%);
  --key-icon-critical: hsl(9, 89%, 45%);
  --key-surface-critical: hsl(3, 96%, 91%);
  --key-surface-critical-subdued: hsl(0, 100%, 98%);
  --key-surface-critical-subdued-hovered: hsl(0, 100%, 97%);
  --key-surface-critical-subdued-pressed: hsl(3, 100%, 95%);
  --key-surface-critical-subdued-depressed: hsl(3, 97%, 86%);
  --key-text-critical: hsl(9, 89%, 45%);
  --key-action-critical: hsl(9, 55%, 48%);
  --key-action-critical-disabled: hsl(0, 0%, 95%);
  --key-action-critical-hovered: hsl(11, 100%, 37%);
  --key-action-critical-pressed: hsl(10, 100%, 32%);
  --key-action-critical-depressed: hsl(8, 100%, 21%);
  --key-icon-on-critical: hsl(0, 0%, 100%);
  --key-text-on-critical: hsl(0, 0%, 100%);
  --key-interactive-critical: hsl(9, 89%, 45%);
  --key-interactive-critical-disabled: hsl(3, 97%, 77%);
  --key-interactive-critical-hovered: hsl(9, 89%, 43%);
  --key-interactive-critical-pressed: hsl(7, 94%, 21%);
  --key-icon-warning: hsl(44, 100%, 36%);
  --key-surface-warning: hsl(36, 100%, 81%);
  --key-surface-warning-subdued: hsl(31, 100%, 96%);
  --key-surface-warning-subdued-hovered: hsl(33, 100%, 94%);
  --key-surface-warning-subdued-pressed: hsl(33, 100%, 91%);
  --key-text-warning: hsl(44, 100%, 28%);
  --key-icon-highlight: hsl(184, 100%, 34%);
  --key-surface-highlight: hsl(188, 75%, 80%);
  --key-surface-highlight-subdued: hsl(191, 74%, 95%);
  --key-surface-highlight-subdued-hovered: hsl(188, 69%, 94%);
  --key-surface-highlight-subdued-pressed: hsl(189, 71%, 90%);
  --key-text-highlight: hsl(186, 43%, 36%);
  --key-icon-success: hsl(165, 100%, 25%);
  --key-surface-success: hsl(156, 57%, 80%);
  --key-surface-success-subdued: hsl(154, 33%, 96%);
  --key-surface-success-subdued-hovered: hsl(150, 36%, 95%);
  --key-surface-success-subdued-pressed: hsl(152, 35%, 92%);
  --key-text-success: hsl(165, 100%, 25%);
  --key-decorative-one-icon: hsl(41, 100%, 25%);
  --key-decorative-one-surface: hsl(38, 100%, 71%);
  --key-decorative-one-text: hsl(39, 100%, 12%);
  --key-decorative-two-icon: hsl(343, 62%, 42%);
  --key-decorative-two-surface: hsl(15, 100%, 85%);
  --key-decorative-two-text: hsl(344, 74%, 16%);
  --key-decorative-three-icon: hsl(156, 100%, 21%);
  --key-decorative-three-surface: hsl(145, 63%, 74%);
  --key-decorative-three-text: hsl(152, 100%, 9%);
  --key-decorative-four-icon: hsl(179, 100%, 21%);
  --key-decorative-four-surface: hsl(172, 56%, 72%);
  --key-decorative-four-text: hsl(180, 100%, 9%);
  --key-decorative-five-icon: hsl(345, 60%, 43%);
  --key-decorative-five-surface: rgba(253, 201, 208, 1);
  --key-decorative-five-text: hsl(344, 70%, 18%);

  --key-card-shadow: 0px 0px 5px var(--key-shadow-from-ambient-light),
    0px 1px 2px var(--key-shadow-from-direct-light);
  --key-popover-shadow: -1px 0px 20px var(--key-shadow-from-ambient-light),
    0px 1px 5px var(--key-shadow-from-direct-light);
  --key-modal-shadow: 0px 26px 80px var(--key-shadow-from-dim-light),
    0px 0px 1px var(--key-shadow-from-dim-light);
  --key-top-bar-shadow: 0 2px 2px -1px var(--key-shadow-from-direct-light);
  --key-button-drop-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.05);
  --key-button-inner-shadow: inset 0 -1px 0 hsla(0, 0%, 0%, 0.2);
  --key-button-pressed-inner-shadow: inset 0 1px 0 hsla(0, 0%, 0%, 0.15);
  --key-override-none: none;
  --key-override-transparent: transparent;
  --key-override-one: 1;
  --key-override-visible: visible;
  --key-override-zero: 0;
  --key-override-loading-z-index: 514;
  --key-button-font-weight: 500;
  --key-non-null-content: '';
  --key-choice-size: 2rem;
  --key-icon-size: 1rem;
  --key-choice-margin: 0.1rem;
  --key-badge-mix-blend-mode: luminosity;
  --key-text-field-spinner-offset: 0.2rem;
  --key-text-field-focus-ring-offset: -0.4rem;
  --key-focus-ring-inner-color-rgb: 0 119 179;
  --key-focus-ring-color: #0077b3;
  --key-button-group-item-spacing: -0.1rem;
  --key-duration-1-0-0: 100ms;
  --key-duration-1-5-0: 150ms;
  --key-ease-in: cubic-bezier(0.5, 0.1, 1, 1);
  --key-ease: cubic-bezier(0.4, 0.22, 0.28, 1);
  --key-range-slider-thumb-size-base: 1.6rem;
  --key-range-slider-thumb-size-active: 2.4rem;
  --key-range-slider-thumb-scale: 1.5;
  --key-badge-font-weight: 400;
  --key-frame-offset: 0px;
  --key-gutter: 16px;
}

