// No Shadow Root for key-icon so we use the tag name to select instead
key-icon {
  display: block;
  width: var(--size, 1rem);
  font-size: var(--size, 1rem);
  // Uncomment to debug icon placement
  // outline: 1px dotted grey;
}

key-icon .key-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size, auto);
  // height: var(--size, auto);
  font-size: var(--size, 1rem);
  color: var(--icon-color, var(--key-color-contrast, inherit));

  .svg-inline--fa {
    vertical-align: 0.1em;
  }
}

key-icon.key-fa {
  height: var(--size, 1rem);
}

key-icon.key-icon-custom {
  fill: var(--icon-color, var(--key-color-contrast, inherit));
  svg {
    max-height: var(--size, 1rem);
  }
}
