:host {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background: transparent;
  border: 0px;
  appearance: none;
  display: flex;
  flex-flow: row;
  width: 100%;
  overflow: visible;
  font-family: var(--key-font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  font-variant-numeric: tabular-nums;
  line-height: 1.25;
  color: rgb(0, 41, 77);

  dt {
    flex-basis: var(--key-list-item-dt-flex-basis, 33%);
    padding: var(--key-list-item-dt-padding, 8px 8px 8px 0);
  }

  dd {
    flex-basis: var(--key-list-item-dd-flex-basis, 67%);
    margin-inline-start: 0px;
    padding: var(--key-list-item-dd-padding, 0 8px 8px 0);
  }
}
