:host {

  button {
    align-items: center;
    background: var(--key-surface);
    border-bottom-color: var(--key-border-shadow-subdued);
    border-radius: var(--key-border-radius-base);
    border-top-color: var(--key-border-subdued);
    border: 1px solid var(--key-border-neutral-subdued);
    box-shadow: var(--key-button-drop-shadow);
    color: var(--key-text);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--key-font-family);
    justify-content: center;
    line-height: 1;
    margin: 0;
    min-height: 3.6rem;
    min-width: 3.6rem;
    padding: .7rem 1.6rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;

    .content {
      font-size: var(--key-font-size-default, 1.5rem);
      font-weight: var(--key-button-font-weight);
      font-family: var(--key-font-family);
      line-height: 1.6rem;
      text-transform: none;
      letter-spacing: normal;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 1px;
      min-height: 1px;
    }

    .content:focus-visible {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }

  button:hover {
    background: var(--key-action-plain-hovered);
    outline: .1rem solid transparent;
  }

  button:active {
    background: var(--key-action-plain-pressed);
    box-shadow: var(--key-button-drop-shadow);
  }

  button:focus {
    box-shadow: var(--key-button-drop-shadow);
    outline: 0;
  }
}

:host(.key-expanded) {
  display: flex;
  width: 100%;

  button {
    width: 100%;
    .content {
      width: 100%;
    }
  }

}


:host(.key-button-primary) {
  --key-button-color: var(--key-action-primary);
  --key-button-text: var(--key-text-on-primary);
  --key-button-color-hover: var(--key-action-primary-hovered);
  --key-button-color-active: var(--key-action-primary-pressed);
  --key-button-color-depressed: var(--key-action-primary-depressed);
  button {
    position: relative;
    background: var(--key-button-color);
    border-width: 0;
    border-color: transparent;
    box-shadow: var(--key-button-drop-shadow),var(--key-button-inner-shadow);
    color: var(--key-button-text);
  }

  button:hover {
    background: var(--key-button-color-hover);
    border-color: transparent;
    color: var(--key-button-text);
  }

  button:active {
    background: var(--key-button-color-active);
  }

  button:focus {
    border-color: transparent;
    box-shadow: var(--key-button-drop-shadow),var(--key-button-inner-shadow);
  }
}

:host(.key-button-destructive) {
  --key-button-color: var(--key-action-critical);
  --key-button-text: var(--key-text-on-critical);
  --key-button-color-hover: var(--key-action-critical-hovered);
  --key-button-color-active: var(--key-action-critical-pressed);
  --key-button-color-depressed: var(--key-action-critical-depressed);
  button {
    position: relative;
    background: var(--key-button-color);
    border-width: 0;
    border-color: transparent;
    box-shadow: var(--key-button-drop-shadow),var(--key-button-inner-shadow);
    color: var(--key-button-text);
  }

  button:hover {
    background: var(--key-button-color-hover);
    border-color: transparent;
    color: var(--key-button-text);
  }

  button:active {
    background: var(--key-button-color-active);
  }

  button:focus {
    border-color: transparent;
    box-shadow: var(--key-button-drop-shadow),var(--key-button-inner-shadow);
  }
}

:host(.key-button-secondary) {
  --key-button-color: var(--key-action-secondary);
  --key-button-text: var(--key-text-on-secondary);
  --key-button-color-hover: var(--key-action-secondary-hovered);
  --key-button-color-active: var(--key-action-secondary-pressed);
  --key-button-color-depressed: var(--key-action-secondary-depressed);
  button {
    position: relative;
    background: var(--key-button-color);
    border-width: 0;
    border-color: transparent;
    box-shadow: var(--key-button-drop-shadow),var(--key-button-inner-shadow);
    color: var(--key-button-text);
  }

  button:hover {
    background: var(--key-button-color-hover);
    border-color: transparent;
    color: var(--key-button-text);
  }

  button:active {
    background: var(--key-button-color-active);
  }

  button:focus {
    border-color: transparent;
    box-shadow: var(--key-button-drop-shadow),var(--key-button-inner-shadow);
  }
}


:host(.key-button-tertiary) {
  --key-button-color: var(--key-action-tertiary);
  --key-button-text: var(--key-text-on-tertiary);
  --key-button-color-hover: var(--key-action-tertiary-hovered);
  --key-button-color-active: var(--key-action-tertiary-pressed);
  --key-button-color-depressed: var(--key-action-tertiary-depressed);
  button {
    position: relative;
    background: var(--key-button-color);
    border-width: 0;
    border-color: transparent;
    box-shadow: var(--key-button-drop-shadow),var(--key-button-inner-shadow);
    color: var(--key-button-text);
  }

  button:hover {
    background: var(--key-button-color-hover);
    border-color: transparent;
    color: var(--key-button-text);
  }

  button:active {
    background: var(--key-button-color-active);
  }

  button:focus {
    border-color: transparent;
    box-shadow: var(--key-button-drop-shadow),var(--key-button-inner-shadow);
  }
}


