:host {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

:host(.key-stack-axis-vertical) {
  flex-direction: column;
}
:host(.key-stack-axis-horizontal) {
  flex-direction: row;
}

:host(.key-stack-fit-horizontal-tight) {
  width: fit-content;
}
:host(.key-stack-fit-horizontal-expand) {
  width: 100%;
}
:host(.key-stack-fit-vertical-tight) {
  height: fit-content;
}
:host(.key-stack-fit-vertical-expand) {
  height: 100%;
}

:host(.key-stack-crossfit-horizontal-tight) {
  height: fit-content;
}
:host(.key-stack-crossfit-horizontal-expand) {
  height: 100%;
}
:host(.key-stack-crossfit-vertical-tight) {
  width: fit-content;
}
:host(.key-stack-crossfit-vertical-expand) {
  width: 100%;
}

:host(.key-stack-main-axis-arrange-start) {
  justify-content: flex-start;
}
:host(.key-stack-main-axis-arrange-end) {
  justify-content: flex-end;
}
:host(.key-stack-main-axis-arrange-center) {
  justify-content: center;
}
:host(.key-stack-main-axis-arrange-space-between) {
  justify-content: space-between;
}
:host(.key-stack-main-axis-arrange-space-around) {
  justify-content: space-around;
}
:host(.key-stack-main-axis-arrange-space-evenly) {
  justify-content: space-evenly;
}

:host(.key-stack-cross-axis-arrange-start) {
  align-items: flex-start;
}
:host(.key-stack-cross-axis-arrange-end) {
  align-items: flex-end;
}
:host(.key-stack-cross-axis-arrange-center) {
  align-items: center;
}
:host(.key-stack-cross-axis-arrange-baseline) {
  align-items: baseline;
}
:host(.key-stack-cross-axis-arrange-stretch) {
  align-items: stretch;
}




// :host(.key-stack-expand-full) {
//   width: 100%;
// }

// :host(.key-stack-vertical) {
//   flex-direction: column;
// }

// :host(.key-stack-distribution-leading) {
//   align-items: stretch;

// }

// :host(.key-stack-distribution-trailing) {
//   align-items: stretch;
//   justify-content: flex-end;
// }

// :host(.key-stack-distribution-center) {
//   align-items: stretch;
//   justify-content: center;
// }

// :host(.key-stack-distribution-space-between) {
//   align-items: stretch;
//   justify-content: space-around;
// }

// :host(.key-stack-distribution-space-around) {
//   align-items: stretch;
//   justify-content: space-between;
// }

// :host(.key-stack-distribution-space-evenly) {
//   align-items: stretch;
//   justify-content: space-evenly;
// }
