:host {
  display: block;
  font-family: var(--key-font-family);

  p.key-paragraph {
    margin: 0;
    padding: 0;
    font-size: var(--paragraph-font-size, 1rem);
    margin-top: var(--key-paragraph-margin-top, 0);
    margin-bottom: var(--paragraph-margin-bottom, 1rem);
    color: var(--paragraph-color, var(--key-color-base, inherit));
  }

  p.key-paragraph.intro {
    font-size: var(--paragraph-font-size, 1.25rem);
    margin-bottom: var(--paragraph-margin-bottom, 2rem);;
  }

  p.key-paragraph.size-small {
    font-size: var(--paragraph-font-size, 0.625rem);
  }

  p.key-paragraph.size-large {
    font-size: var(--paragraph-font-size, 1.875rem);
  }
}

