:root {
  --key-color-primary: #008989;
  --key-color-primary-rgb: 0, 137, 137;
  --key-color-primary-contrast: #fff;
  --key-color-primary-contrast-rgb: 255, 255, 255;
  --key-color-primary-shade: #007070;
  --key-color-primary-tint: #00a8a8;
  --key-color-primary-light: hsl(180, 100%, 92%);
  --key-color-primary-lighter: hsl(180, 100%, 98%);

  --key-color-secondary: #E66318;
  --key-color-secondary-rgb: 230, 99, 24;
  --key-color-secondary-contrast: #fff;
  --key-color-secondary-contrast-rgb: 255, 255, 255;
  --key-color-secondary-shade: #d05a16;
  --key-color-secondary-tint: #ea7734;
  --key-color-secondary-light: hsl(22, 81%, 92%);
  --key-color-secondary-lighter: hsl(22, 81%, 98%);
  
  --key-color-tertiary: #0a4161;
  --key-color-tertiary-rgb: 10, 65, 97;
  --key-color-tertiary-contrast: #fff;
  --key-color-tertiary-contrast-rgb: 255, 255, 255;
  --key-color-tertiary-shade: #08324a;
  --key-color-tertiary-tint: #0d547d;
  --key-color-tertiary-light: hsl(202, 81%, 92%);
  --key-color-tertiary-lighter: hsl(202, 81%, 98%);
  
  --key-color-destructive: hsl(345, 99%, 38%);
  --key-color-destructive-rgb: 193, 1, 49;
  --key-color-destructive-contrast: #fff;
  --key-color-destructive-contrast-rgb: 255, 255, 255;
  --key-color-destructive-shade: #a7012a;
  --key-color-destructive-tint: #df0139;
  --key-color-destructive-light: hsl(345, 99%, 92%);
  --key-color-destructive-lighter: hsl(345, 99%, 98%);
  
}


.key-color-primary {
  --key-color-base: var(--key-color-primary, #008989);
  --key-color-base-rgb: var(--key-color-primary-rgb, 0, 137, 137);
  --key-color-contrast: var(--key-color-primary-contrast, #fff);
  --key-color-contrast-rgb: var(--key-color-primary-contrast-rgb, 255, 255, 255);
  --key-color-shade: var(--key-color-primary-shade, #007070);
  --key-color-tint: var(--key-color-primary-tint, #00a8a8);
  --key-color-light: var(--key-color-primary-light, hsl(180, 100%, 92%));
  --key-color-lighter: var(--key-color-primary-lighter, hsl(180, 100%, 98%));
}

.key-color-secondary {
  --key-color-base: var(--key-color-secondary, #E66318);
  --key-color-base-rgb: var(--key-color-secondary-rgb, 230, 99, 24);
  --key-color-contrast: var(--key-color-secondary-contrast, #fff);
  --key-color-contrast-rgb: var(--key-color-secondary-contrast-rgb, 255, 255, 255);
  --key-color-shade: var(--key-color-secondary-shade, #d05a16);
  --key-color-tint: var(--key-color-secondary-tint, #ea7734);
  --key-color-light: var(--key-color-secondary-light, hsl(22, 81%, 92%));
  --key-color-lighter: var(--key-color-secondary-lighter, hsl(22, 81%, 98%));
}

.key-color-tertiary {
  --key-color-base: var(--key-color-tertiary, #0a4161);
  --key-color-base-rgb: var(--key-color-tertiary-rgb, 10, 65, 97);
  --key-color-contrast: var(--key-color-tertiary-contrast, #fff);
  --key-color-contrast-rgb: var(--key-color-tertiary-contrast-rgb, 255, 255, 255);
  --key-color-shade: var(--key-color-tertiary-shade, #08324a);
  --key-color-tint: var(--key-color-tertiary-tint, #0d547d);
  --key-color-light: var(--key-color-tertiary-light, hsl(202, 81%, 92%));
  --key-color-lighter: var(--key-color-tertiary-lighter, hsl(202, 81%, 98%));
}

.key-color-destructive {
  --key-color-base: var(--key-color-destructive, hsl(345, 99%, 38%));
  --key-color-base-rgb: var(--key-color-destructive-rgb, 193, 1, 49);
  --key-color-contrast: var(--key-color-destructive-contrast, #fff);
  --key-color-contrast-rgb: var(--key-color-destructive-contrast-rgb, 255, 255, 255);
  --key-color-shade: var(--key-color-destructive-shade, #a7012a);
  --key-color-tint: var(--key-color-destructive-tint, #df0139);
  --key-color-light: var(--key-color-destructive-light, hsl(345, 99%, 92%));
  --key-color-lighter: var(--key-color-destructive-lighter, hsl(345, 99%, 98%));
}

